.evolutionland {
    --primary-color:#384aff;
    --header-bg:#d3edff;
    --bg-color:#ffffff;
    --border-color:#9ecbe5;
    --text-color:#333;
    --link-color:#384aff;
    --heading-color:#000000
}
